@import "../../../assets/styles/vars.scss";


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    border-left: 1px solid $primary300;
    border-right: 1px solid $primary300;
    grid-template-rows: 243px 1fr;
    grid-template-areas: 
        "item1 item2 item3"
        "item4 item4 item4";
}   

.item1 {
    grid-area: item1;
    padding: 20px;
    text-align: center; 
}
.item2 {
    grid-area: item2;
    padding: 20px;
    text-align: center; 
}
.item3 {
    grid-area: item3;
    padding: 20px;
    text-align: center; 
}
.item4 {
    grid-area: item4;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.image-item {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.image-item img {
    width: 400px;
    max-width: 100%; 
    height: auto;
}
