.arrow-button__wrap {
    position: relative;
    display: flex;
    padding: 0 1px 0 0;
    img {
        width: 50px;
    }
}

.arrow-button__wrap-image {
    position: absolute; 
    width: 100%;  
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    transition-duration: 300ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}