@import "../../../../assets/styles/vars.scss";

.empty-caps__container {
    display: flex;
    flex-direction: row;
    height: 128px;
    justify-content: space-around;
    border-left:1px solid $primary300;
    border-right:1px solid $primary300;
}

.empty-caps__container > div {
    width: 100%;
    border-right:1px solid $primary300;
}

.empty-caps__container > div:last-child {
    border-right: none;
}