@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/vars.scss";

.calendar-events__container {
    display: grid;
    grid-template-rows: auto 163px;
    border-top:1px solid $primary300;
}

.calendar-events__content {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 50px 0 0 40px;

    @media(max-width: $laptop) {
        padding: 20px 0 0 20px;
    }
}

.calendar-events__empty-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:1px solid $primary300;
    div {
        width: 100%;
    }
}

.calendar-events__empty-block > div:first-child {
    border-right: 1px solid $primary300;
}

.calendar-events-row__wrap {
    display: grid;
    grid-template-columns: 128px 1fr;
    grid-template-rows: auto;
    align-items: center;
}

.calendar-events-row__container {
    display: grid;
    grid-template-columns: 640px 1fr;
    grid-template-rows: auto;
    padding: 41px 40px 32px 111px;
    border-left:1px solid $primary300;
    border-top:1px solid $primary300;
    cursor: pointer;
    margin-left: 88px;
    position: relative;

    @media(max-width: $laptop) {
        grid-template-columns: 540px 1fr;
        padding: 41px 40px 32px 80px;
        margin-left: 60px;
    }
}

.calendar-events-row__last-child {
    padding-bottom: 80px !important;
}

.calendar-events-row__wrap:first-child .calendar-events-row__container  {
    padding: 0 40px 32px 111px;
    border-top: none;
    .calendar-events-row__speaker-image {
        top: 0;
    }
    @media(max-width: $laptop) {
        padding: 0 40px 32px 80px;
        margin-left: 60px;
    }
}

.calendar-events-row__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    @include text-red;
    @include bold;
    @include base-27;
    @include font-roboto-mono;

    @media(max-width: $tablet) {
        @include base-20;
    }
}

.calendar-events-row__date-time {
    @include base-16;
    @include text-middle-gray;
    @include regular;
}

.calendar-events-row__speaker-image {
    position: absolute;
    width: 90px;
    left: -40px;
    top: 41px;
}

.calendar-events-row__title {
    display: flex;
    flex-direction: column;
    gap: 13px;
    h6 {
        @include base-18;
        color: $default;
        @include regular-500;
    }
    h5 {
        @include base-16;
        color: $default;
        @include regular-500;
    }
    p {
        @include text-word-wrap;
        @include light;
        @include base-16;
        @include text-middle-gray;

        @media(max-width: $tablet) {
            @include base-14;
        }
    }
}

.calendar-events-row__arrow-btn {
    display: flex;
    justify-content: end;
}

.calendar-events__no-found {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 30px 30px 80px 30px;
    @include base-30;
    @include regular;
}