@import "../../../assets/styles/vars.scss";

.slider-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    width: 1920px;
    margin: 0 auto;
}
.slider-headline::after {
    display: table;
    clear: both;
    content: " ";
}
.slider-headline__wrap {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}
.slider-headline__wrap::before {
    position: relative;
    display: block;
    height: 0;
    padding-top: 56.25%;
    content: "";
}
.slider-headline__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-block {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
    width: 100%;
    margin: 0 auto;
    padding: 10% 5% 5% 10%;
    height: 100%;
}

.slider-block__logo {
    display: flex;
    order: -1;
    background-image: url("../../../assets/img/icons/sliderIconOne.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 730px;
    height: 95px;

    @media(max-width: $middle-screen-size) {
        max-width: 480px;
    }
}

.slider-square {
    display: flex;
    max-width: 578px;
    width: 100%;
    height: 100%;
    
    &:hover + .slider-block__logo {
        background-image: url("../../../assets/img/icons/sliderIconTwo.svg");
        
    }

    @media(max-width: $middle-screen-size) {
        max-width: 480px;
    }
}
