@import "../../../assets/styles/vars.scss";
@import "../../../assets/styles/mixins.scss";

.arrow-link-button__container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    height: 131px;
    gap: 39px;
    background-color: $white;
    padding: 39px;
    justify-content: space-between;
    
    &:hover {
        background-color: $secondary600;
        color: $white;
        border: 1px solid $white;

        .arrow-link-button__icon {
            background-image: url(../../../assets//img/icons/arrowUpWhite.svg);
        }
    }

    @media(max-width: $laptop) {
        padding: 30px;
    }

    @media(max-width: $tablet) {
        padding: 20px;
    }
}

.arrow-link-button__title {
    @include base-40;
    @include medium;

    @media(max-width: $laptop) {
        @include base-36;
    }

    @media(max-width: $tablet) {
        @include base-30;
    }
}

.arrow-link-button__icon {
    background-image: url(../../../assets//img/icons/arrowUpRed.svg);
    object-fit: cover;
    width: 40px;
    height: 40px;

}